src/main/schema/base.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Execution">
    <xs:sequence>
      <xs:element name="root" type="Node" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Node">
    <xs:sequence>
      <xs:element name="child" type="Node" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="start" type="xs:dateTime"/>
    <xs:attribute name="duration" type="xs:duration"/>
  </xs:complexType>
  <xs:element name="execution" type="Execution"/>
</xs:schema>
